<!DOCTYPE html>
<html>
<head>
	<title>Quintessentiel | Connexion</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/style_manageProduct.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style_addProduct.css"/>
	<script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
</head>
<body>
	<%include ./includes/reducedAppNavbar.ejs%>
	<section class="wrapper-content-manageProduct">
		<div class="wrapper-body-mgProduct">
			<p class="warning-error" id="warning-error"></p>
		</div>
		<div class="wrapper-manageProduct-section">
			<h2>Ajout d'un produit</h2>
			<%include ./includes/templateProduct.ejs%>
		</div>
	</section>
	<script src="http://malsup.github.com/jquery.form.js"></script> 
	<script>
		let inputName = document.getElementById("inputName");
		let inputCostPrice = document.getElementById("inputCostPrice");
		let inputRetailPrice = document.getElementById("inputRetailPrice");
		let inputQty = document.getElementById("inputQty");
		let inputImage = document.getElementById("inputFile");
		let inputCategory = document.getElementById("selectCategory");
		let inputDescription = document.getElementById("txtAreaDescription");
		let inputAdvice = document.getElementById("txtAreaAdvice");
		let inputVedette = document.getElementById("inputVedette");
		let inputVisible = document.getElementById("inputVisible");
		let inputWeight = document.getElementById("inputWeight");

		let selectedTags;


	   $('.addProduct').submit(function(e){
	     e.preventDefault();

	     $(this).ajaxSubmit({
	       data: {
	       	name: inputName.value,
	       	costPrice: inputCostPrice.value,
	       	retailPrice: inputRetailPrice.value,
	       	qty: inputQty.value,
	       	category: inputCategory.value,
	       	description: inputDescription.value,
	       	advice: inputAdvice.value,
	       	isVedette: inputVedette.checked,
	       	tags: getAttributedListboxId(),
	       	weight: inputWeight.value,
	       	isVisible: inputVisible.checked
	       },
	       contentType: 'application/json',
	       success: function(response){
	         console.log('image uploaded and form submitted');  
	         this.clear();   
	       }

	   });

	      });


	</script>
	<script src="./javascript/renderer.js"></script>
	<script src="./javascript/tableProducts.js"></script>
	<script src="./javascript/resizeWindow.js"></script>
</body>
</html>