<!DOCTYPE html>
<html>
<head>
    <title>Quintessentiel | Connexion</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style_manageChat.css"/>
</head>
<body>
    <%include ./includes/appNavbar.ejs%>
    <section class="wrapper-content-manageChat">
    	<section class="left-bar">
    		<div class="left-bar-header">
    			<div id="wrapperLogo"><img src="./images/logo.png" id="logo"/></div>
    		</div>
    		<div class="left-bar-body">
    			<div id="contact-bar-wrapper">
    				<ul id="contact-bar" class="nav nav-tabs">
    					<li>
	    					<a href="#client101" class="single-contact" data-toggle="tab">
	    						<div class="contact-title-bar">
	    							<p>"<span class="title-contact">Problème avec tels chose</span>"</p>
	    						</div>
	    						<div class="contact-name-bar">
	    							<p>- <span class="contact-name">Réjeanne B.</span></p>
	    						</div> 
	    						<div class="contact-activity">
	    							<p>État: <span class="contact-active">Actif</span></p>
	    						</div>
	    					</a>
    					</li>
    					<li>
	    					<a href="#client102" class="single-contact" data-toggle="tab">
	    						<div class="contact-title-bar">
	    							<p>"<span class="title-contact">Problème avec tels chose</span>"</p>
	    						</div>
	    						<div class="contact-name-bar">
	    							<p>- <span class="contact-name">Réjeanne B.</span></p>
	    						</div> 
	    						<div class="contact-activity">
	    							<p>État: <span class="contact-active">Actif</span></p>
	    						</div>
	    					</a>
    					</li>
    				</ul>
    			</div>
    		</div>
    		<div class="left-bar-footer">
    			<div class="left-footer-close">
    				<button>Fermer la conversation</button>
    			</div>
    		</div>
    	</section>
    	<section class="right-bar">
    		<div class="right-bar-header">
    			<h2>Système de clavardage</h2>
    		</div>
    		<div class="right-bar-body">
    			<div id="client101" class="tab-pane fade">
    				<div class="wrapperSingleMessage wrapperMsgClient">
    					<div class="messageWrapper">
	    					<p class="msgUserName">Réjeanne B.</p>
	    					<p class="msgUserText">Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit Amet Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit</p>
	    				</div>
    				</div>
    				<div class="wrapperSingleMessage wrapperMsgAdmin">
	    				<div class="messageWrapper">
	    					<p class="msgUserName">Vous</p>
	    					<p class="msgUserText">Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit Amet Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit</p>
	    				</div>
    				</div>
    				    				<div class="wrapperSingleMessage wrapperMsgAdmin">
	    				<div class="messageWrapper">
	    					<p class="msgUserName">Vous</p>
	    					<p class="msgUserText">Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit Amet Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit</p>
	    				</div>
    				</div>
    				    				<div class="wrapperSingleMessage wrapperMsgAdmin">
	    				<div class="messageWrapper">
	    					<p class="msgUserName">Vous</p>
	    					<p class="msgUserText">Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit Amet Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit</p>
	    				</div>
    				</div>
    				    				<div class="wrapperSingleMessage wrapperMsgAdmin">
	    				<div class="messageWrapper">
	    					<p class="msgUserName">Vous</p>
	    					<p class="msgUserText">Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit Amet Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit</p>
	    				</div>
    				</div>
    				    				<div class="wrapperSingleMessage wrapperMsgAdmin">
	    				<div class="messageWrapper">
	    					<p class="msgUserName">Vous</p>
	    					<p class="msgUserText">Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit Amet Lorem ipsum Dolor sit amet Lorem Ipsum Dolor sit Amet Lorem Ipsum Dolor Sit</p>
	    				</div>
    				</div>

    			</div>
    			<div id="client102" class="tab-pane fade">
    				<p>Les messages du client 2</p>
    			</div>
    			<div id="client103" class="tab-pane fade">
    				<p>Les messages du client 3</p>
    			</div>
    		</div>
    		<div class="right-bar-footer">
    			<div class="right-bar-footer-wrapper">
    				<div class="left-inner-footer">
    					<textarea></textarea>
    				</div>
    				<div class="right-inner-footer">
    					<div class="wrapper-btn-send">
    						<button>Envoyer</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    </section>

    <script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="./javascript/renderer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./javascript/listbox.js"></script>
    <script src="./javascript/tableProducts.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
</body>
</html>