<!DOCTYPE html>
<html>
    <head>
        <title>Quintessentiel | contact</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/css/style_header.css" />
        <link rel="stylesheet" type="text/css" href="/css/style_body.css" />
        <link rel="stylesheet" type="text/css" href="/css/style_contact.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <script src="/javascript/contact.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
      <%include ./includes/navbar.ejs%>
      <div class="connection-page">
          <div class="left-menu-bar">
              
          </div>
        <div class="contact-page">
            <div class="contact-row">
                <div class="contact-col">
                    <div class="contact-row-centered">
                            <h1>Où nous trouver</h1>
                            <hr>
                    </div>
                    <div class="contact-row">
                        <div class="contact-sales">
                            <h2>Zayat Aroma</h2>
                        </div>
                    </div>
                    <div class="contact-row">
                        <div class="contact-sales">
                            <ul>
                                <li>1339, Rue Shefford</li>
                                <li>Bromont, QC, J2L 1C9</li>
                                <li>+1(855) 534-1671</li>
                                <li><a href="https://www.zayataroma.com/fr">www.zayataroma.com</a></li>
                            </ul>
                        </div>  
                    </div>
                    <div class="contact-row">
                        <div class="contact-sales">
                            <h2>Reine Malo</h2>
                        </div>
                    </div>
                    <div class="contact-row">
                        <div class="contact-sales">
                            <ul>
                                <li>291 Chemin du Roy</li>
                                <li>St-Augustin-de-Desmaures, QC, G3A 0K4</li>
                                <li>(418) 932-0464</li>
                                <li><i>Sur rendez-vous seulement</i></li>
                            </ul>
                        </div>  
                    </div>
                    <div class="contact-row">
                        <div class="contact-sales">
                            <h2>Danielle Tousignant Massothérapeute</h2>
                        </div>
                    </div>
                    <div class="contact-row">
                        <div class="contact-sales">
                            <ul>
                                <li>47 Rue Moussete</li>
                                <li>Gatineau, QC, J8Y 5J7</li>
                                <li>(819) 568-7401</li>
                                <li><i>Sur rendez-vous seulement</i></li>
                            </ul>
                        </div>  
                    </div>
                </div>
                <div class="contact-col">
                    <div class="contact-row-centered">
                            <h1 class="delimiter">Nous contacter</h1>
                            <hr>
                    </div>
                    <form action="https://formspree.io/mdqjankx" method="POST">
                        <div class="contact-row form-group">
                            <div class="contact-col">
                                <input type="text" class="f-name" name="Prenom" placeholder="Prenom">
                            </div>
                            <div class="contact-col"> 
                                <input type="text" class="name" name="Nom" placeholder="Nom de famille">
                            </div>
                        </div>
                        <div class="contact-row form-group">
                            <div class="contact-col">
                                <input type="email" class="email" name="_replyto" placeholder="Adresse courriel">
                            </div>
                            <div class="contact-col">
                                <input type="text" class="phone-number" name="Numero de Telephone" placeholder="Numero de telephone">
                            </div>
                        </div>
                        <div class="contact-row">
                            <div class="contact-single-col">
                                    <select name="raison">
                                            <option value="General">Demande Générale</option>
                                            <option value="Question produit">Questions pour un produit</option>
                                            <option value="Distributeur">Devenir distributeur</option>
                                            <option value="Creation perso">Création personalisée</option>
                                    </select>
                            </div>   
                        </div>
                        <div class="contact-row-centered">
                                <h2>Question</h2>
                        </div>
                        <div class="contact-row">
                            <div class="contact-single-col">
                                <input type="file" name="Fichier" class="upload-file">
                            </div>
                        </div>
                        <div class="contact-row">
                            <div class="contact-single-col">
                                <textarea class="message" name="Message"cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="contact-row-centered">
                            <button type="submit" class="btn btn-primary btn-success">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>  
    </body>
</html>