<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Quintessentiel | Catalogue</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style_header.css" />
    <link rel="stylesheet" type="text/css" href="/css/style_body.css" />
    <link rel="stylesheet" type="text/css" href="/css/style_index.css" />
    <link rel="stylesheet" type="text/css" href="/css/style_faq.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <%include ./includes/navbar.ejs%>
</body>
</html>