<!DOCTYPE html>
<html>
<head>
    <title>Quintessentiel | Distributeur</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style_manageProduct.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style_manageReseller.css"/>
</head>
<body>
        <div class="modal fade" tabindex="-1" role="dialog" id="addResellerModal"> <!-- Add reseller modal -->
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ajout d'un distributeur</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="addModalForm">
                        <div class="modal-body">
                          <div id="addResellerSuccessAlert" class="alert alert-success fade" role="alert">
                              Distributeur ajouté avec succès
                          </div>
                          <div class="addResellerFields">
                                <div class="table">
                                    <div class="border">
                                        <table class="table-product">
                                            <thead class="table-product-header">
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Adresse courriel</th>
                                                    <th>Distributeur?</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableResellerModal">
                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div> 
                          </div>
                    
                        <div class="modal-footer">
                          <input type="submit" class="btn btn-success" id="btnSend" value="Ajouter">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                      </div>
                  </form>
            </div>
          </div>
          </div>
          <div class="modal fade" tabindex="-1" role="dialog" id="updateResellerModal">       <!-- Update modal reseller -->
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modification d'un distributeur</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateModalForm">
                        <div class="modal-body">
                          <div id="updateResellerSuccessAlert" class="alert alert-success fade" role="alert">
                                Distributeur modifié avec succès!
                          </div>
                          <div class="addResellerFields">
                              
                          </div>
                    
                        <div class="modal-footer">
                          <input type="submit" class="btn btn-success" id="btnModify" value="Modifier">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        </div>
                      </div>
                  </form>
            </div>
          </div>
          </div>
    <%include ./includes/appNavbar.ejs%>
    <section class="wrapper-content-manageProduct">
    <section class="wrapper-content-manageProduct">
        <div class="wrapper-body-mgProduct">
            <div class="wrapper-logo">
                <img src="./images/logo.png"/>
            </div>
            <p class="warning-error" id="warning-error"></p>
        </div>
        <div class="wrapper-manageProduct-section">
            <h2>Gestion des distributeurs</h2>
            <div class="wrapper-right-btn">
                <div class="wrapper-btn">
                    <a href="#" class="btnApp" id="btnAddReseller">+</a>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="border">
                <table class="table-product">
                    <thead class="table-product-header">
                        <tr>
                            <th>Nom</th>
                            <th>Adresse courriel</th>
                        </tr>
                    </thead>
                    <tbody id="tableReseller">

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="./javascript/renderer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./public/javascript/listbox.js"></script>
    <script src="./public/javascript/tableProducts.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script>

        
        //Add Reseller script
        let btnSend = document.getElementById("btnSend");
        let resellerList;
        let nonResellerList;
        let updateSelectedReseller;

        loadResellersDisplayList();
        //Loads all the reseller that need to be displayed
        //in the list
        function loadResellersDisplayList()
        {
            return $.ajax({
                url: "./ajaxRequest/loadAllResellers",
                type: "POST",
                success: function(res){
                    resellerList = res;
                    console.log(resellerList);
                    displayResellerList(resellerList);
                }
            })
        }


        //Displays all the reseller that have been loaded
        //from the server
        //@resellerList is the list of resellers loaded
        //from the server
        function displayResellerList(resellerList)
        {
            
            let tableReseller = document.getElementById("tableReseller");
            tableReseller.innerHTML = "";

            resellerList.forEach(function(reseller){
                tableReseller.innerHTML += `<tr data-product-id="`+reseller._id+`" ondblclick="openUpdateReseller(this,`+reseller._id+`)" class="rowTR">
                            <th>`+reseller._firstName+' '+reseller._lastName+`</th>
                            <th>`+reseller._email+`</th>
                        </tr>`;
            });
        }

        

        $("#btnAddReseller").on("click",function(e){
            e.preventDefault();
            $("#addResellerModal").modal();
            return $.ajax({
                url: "./ajaxRequest/loadAllNonResellers",
                type: "POST",
                success: function(res){
                    nonResellerList = res;
                    console.log(nonResellerList);
                    displayNonResellerList(nonResellerList);
                }
            })
            console.log("adding a category!")
        });

        $("#addModalForm").on("submit",function(e){
            e.preventDefault();
            var listReseller = []; 
            $("input:checkbox[name=toAdd]:checked").each(function() { 
                listReseller.push($(this).val()); 
            });
            console.log(listReseller);
            if(listReseller.length>0){
                $.ajax({
                    url: "./ajaxRequest/addReseller",
                    type: "POST",
                    data: {
                        resellerId:listReseller
                    },
                    success: function(res){
                        successAddedReseller();
                        loadResellersDisplayList();
                    }
                })
            }
        });

        //This function shows a success message
        //and clears the form
        function successAddedReseller()
        {
            addResellerSuccessAlert.classList.add("show");

            setTimeout(function(){
                addResellerSuccessAlert.classList.remove("show");
            },5000);

        }

         //Displays all the reseller that have been loaded
        //from the server
        //@resellerList is the list of resellers loaded
        //from the server
        function displayNonResellerList(nonResellerList)
        {
            
            let tableReseller = document.getElementById("tableResellerModal");
            tableReseller.innerHTML = "";

            nonResellerList.forEach(function(reseller){
                tableReseller.innerHTML += `<tr data-product-id="`+reseller._id+` class="rowTR">
                            <th>`+reseller._firstName+' '+reseller._lastName+`</th>
                            <th>`+reseller._email+`</th>
                            <th><input type="checkbox" name="toAdd" class="chckVisible" value="`+reseller._id+`"/></th>
                        </tr>`;
            });
        }
        

        //Update product script

        //Opens the update category modal
        function openUpdateReseller(row,id)
        {   
            console.log("celuila->:"+id);
            let updateModal = document.getElementById("updateResellerModal");
            let rowIndex = $("#tableReseller tr").index(row);
            updateSelectedReseller = resellerList[rowIndex];

            $.ajax({
                    url: "./ajaxRequest/getRebate",
                    type: "POST",
                    data: {
                        resellerId: id
                    },
                    success: function(res){
                        successAddedReseller();
                        loadResellersDisplayList();
                    }
                })
            $(updateModal).modal();
        }

        function fillUpdateModal(rowIndex)
        {
            let updateModal = document.getElementById("updateCategoryModal");

            clearModalInfos(updateModal);
            fillTranslatableFields(updateSelectedCategory._traductions);

            updateModal.getElementsByClassName("chckVisible")[0].checked = updateSelectedCategory._isVisible;

        }
    </script>

</body>
</html>