<!DOCTYPE html>
<html>
<head>
	<title>Quintessentiel | Connexion</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/style_manageProduct.css"/>
	<script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
</head>
<body>
	<%include ./includes/appNavbar.ejs%>
	<section class="wrapper-content-manageProduct">
		<div class="wrapper-body-mgProduct">
			<div class="wrapper-logo">
				<img src="./images/logo.png"/>
			</div>
			<p class="warning-error" id="warning-error"></p>
		</div>
		<div class="wrapper-manageProduct-section">
			<h2>Gestion de l'inventaire</h2>
			<div class="mg-product-top-line">
				<div class="wrapper-left-qty">
					<div class="sub-left-wrapper">
						<label>Trier par:</label>
						<select id="orderBySelect">
							<option>Quantité</option>
						</select>
					</div>
				</div>
				<div class="wrapper-right-btn">
					<div class="wrapper-btn">
						<a href="./addProduct" class="btnApp" target="_blank">+</a>
					</div>
				</div>
			</div>
		</div>
		<div class="table">
            <div class="border">
                <table class="table-product">
                    <thead class="table-product-header">
                        <tr>
                            <th>Produit</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Catégorie</th>
                            <th>Qté</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-product-id="24" ondblclick="openUpdateProduct(this)" class="rowTR">
                            <th>Liniment démaquillant peau sensible</th>
                            <th>Doux et efficace pour les peaux sensibles! Le liniment Oleocalcaire démaquillant est le must pour les peaux sensibles et irritées. Bien connu en Europe pour le soin des peaux fragiles des bébés, il démaquille et nettoie en
                                douceur les épidermes les plus fragiles. Composé à 100% d'huiles végétales précieuses bio, il nettoie, nourrit et hydrate l'épiderme tout en douceur. A utiliser avec nos hydrolats rééquilibrants!</th>
                            <th>Image</th>
                            <th>Soin visage</th>
                            <th>20</th>
                            <th>20.00</th>
                        </tr>
                        <tr data-product-id="24" ondblclick="openUpdateProduct(this)" class="rowTR">
                            <th>Liniment démaquillant peau sensible</th>
                            <th>Doux et efficace pour les peaux sensibles! Le liniment Oleocalcaire démaquillant est le must pour les peaux sensibles et irritées. Bien connu en Europe pour le soin des peaux fragiles des bébés, il démaquille et nettoie en
                                douceur les épidermes les plus fragiles. Composé à 100% d'huiles végétales précieuses bio, il nettoie, nourrit et hydrate l'épiderme tout en douceur. A utiliser avec nos hydrolats rééquilibrants!</th>
                            <th><img src="./images/default.jpg" alt=""></th>
                            <th>Soin visage</th>
                            <th>10</th>
                            <th>20.00</th>
                        </tr>
                        <tr data-product-id="24" ondblclick="openUpdateProduct(this)" class="rowTR">
                            <th>Liniment démaquillant peau sensible</th>
                            <th>Doux et efficace pour les peaux sensibles! Le liniment Oleocalcaire démaquillant est le must pour les peaux sensibles et irritées. Bien connu en Europe pour le soin des peaux fragiles des bébés, il démaquille et nettoie en
                                douceur les épidermes les plus fragiles. Composé à 100% d'huiles végétales précieuses bio, il nettoie, nourrit et hydrate l'épiderme tout en douceur. A utiliser avec nos hydrolats rééquilibrants!</th>
                            <th>Image</th>
                            <th>Soin visage</th>
                            <th>15</th>
                            <th>20.00</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</section>
	<script src="./javascript/renderer.js"></script>
	<script src="./javascript/tableProducts.js"></script>
	<script src="./javascript/resizeWindow.js"></script>
	<script>
        function openUpdateProduct(element){
            let productId = element.getAttribute("data-product-id");

            window.open("./modifyProduct?productId="+productId, '_blank');
        }
	</script>
</body>
</html>