<!DOCTYPE html>
<html>
<head>
	<title>Quintessentiel | Connexion</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/style_manageProduct.css"/>
</head>
<body>
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="addProduct" enctype="multipart/form-data" action="/addProduct" method="POST" id="formProduct">
              <div class="modal-header">
                <h5 class="modal-title">Ajout d'un produit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="addProductSuccessAlert" class="alert alert-success fade" role="alert">
                    Produit ajouté avec succès!
                </div>
                <div class="addProductFields">
                    <%- addProductTabs %>
                    <%include ./includes/templateProduct.ejs%>
              </div>
          
              <div class="modal-footer">
                <input type="submit" class="btn btn-success" id="btnSend" value="Ajouter">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </form>
      </div>
    </div>

	<%include ./includes/appNavbar.ejs%>
	<section class="wrapper-content-manageProduct">
		<div class="wrapper-body-mgProduct">
			<div class="wrapper-logo">
				<img src="./images/logo.png"/>
			</div>
			<p class="warning-error" id="warning-error"></p>
		</div>
		<div class="wrapper-manageProduct-section">
			<h2>Gestion de l'inventaire</h2>
			<div class="mg-product-top-line">
				<div class="wrapper-left-qty">
					<div class="sub-left-wrapper">
						<label>Trier par:</label>
						<select id="orderBySelect">
							<option>Quantité</option>
						</select>
					</div>
				</div>
				<div class="wrapper-right-btn">
					<div class="wrapper-btn">
						<a href="#" class="btnApp">+</a>
					</div>
				</div>
			</div>
		</div>
		<div class="table">
            <div class="border">
                <table class="table-product">
                    <thead class="table-product-header">
                        <tr>
                            <th>Produit</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Catégorie</th>
                            <th>Qté</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-product-id="11" ondblclick="openUpdateProduct(this)" class="rowTR">
                            <th>Liniment démaquillant peau sensible</th>
                            <th>Doux et efficace pour les peaux sensibles! Le liniment Oleocalcaire démaquillant est le must pour les peaux sensibles et irritées. Bien connu en Europe pour le soin des peaux fragiles des bébés, il démaquille et nettoie en
                                douceur les épidermes les plus fragiles. Composé à 100% d'huiles végétales précieuses bio, il nettoie, nourrit et hydrate l'épiderme tout en douceur. A utiliser avec nos hydrolats rééquilibrants!</th>
                            <th>Image</th>
                            <th>Soin visage</th>
                            <th>20</th>
                            <th>20.00</th>
                        </tr>
                        <tr data-product-id="11" ondblclick="openUpdateProduct(this)" class="rowTR">
                            <th>Liniment démaquillant peau sensible</th>
                            <th>Doux et efficace pour les peaux sensibles! Le liniment Oleocalcaire démaquillant est le must pour les peaux sensibles et irritées. Bien connu en Europe pour le soin des peaux fragiles des bébés, il démaquille et nettoie en
                                douceur les épidermes les plus fragiles. Composé à 100% d'huiles végétales précieuses bio, il nettoie, nourrit et hydrate l'épiderme tout en douceur. A utiliser avec nos hydrolats rééquilibrants!</th>
                            <th><img src="./images/default.jpg" alt=""></th>
                            <th>Soin visage</th>
                            <th>10</th>
                            <th>20.00</th>
                        </tr>
                        <tr data-product-id="11" ondblclick="openUpdateProduct(this)" class="rowTR">
                            <th>Liniment démaquillant peau sensible</th>
                            <th>Doux et efficace pour les peaux sensibles! Le liniment Oleocalcaire démaquillant est le must pour les peaux sensibles et irritées. Bien connu en Europe pour le soin des peaux fragiles des bébés, il démaquille et nettoie en
                                douceur les épidermes les plus fragiles. Composé à 100% d'huiles végétales précieuses bio, il nettoie, nourrit et hydrate l'épiderme tout en douceur. A utiliser avec nos hydrolats rééquilibrants!</th>
                            <th>Image</th>
                            <th>Soin visage</th>
                            <th>15</th>
                            <th>20.00</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</section>

    <script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="./javascript/renderer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./javascript/listbox.js"></script>
    <script src="./javascript/tableProducts.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
	<script>
        let formProduct = document.getElementById("formProduct");
        let addProductSuccessAlert = document.getElementById("addProductSuccessAlert")

        //Setup the listbox managers

        //Category list box
        let categoryWrapper = document.getElementById("categoryWrapper");
        let categoryAvailableList = document.getElementById("categoryAvailableList");
        let categoryAttributedList = document.getElementById("categoryAttributedList");
        let categoryRightBtn = document.getElementById("categoryRightBtn");
        let categoryleftBtn = document.getElementById("categoryLeftBtn");

        //Tags Listbox
        let tagsWrapper = document.getElementById("tagsWrapper");
        let tagsAvailableList = document.getElementById("tagsAvailableList");
        let tagsAttributedList = document.getElementById("tagsAttributedList");
        let tagsRightBtn = document.getElementById("tagsRightBtn");
        let tagsLeftBtn = document.getElementById("tagsLeftBtn");

        let listboxTags= new Listbox(tagsWrapper,tagsAvailableList,tagsAttributedList,tagsRightBtn,
            tagsLeftBtn);

        let listboxCategory = new Listbox(categoryWrapper,categoryAvailableList,categoryAttributedList,categoryRightBtn,
            categoryleftBtn);

        let addModal = $("#addModal");




        $(".btnApp").on("click",function(e){
            e.preventDefault();
            addModal.modal()
        })



        //For the add product
        let costPrice = $(".costPrice");
        let retailPrice = $(".retailPrice");
        let quantity = $(".quantity");
        let weight = $(".weight");
        let category = $(".category");
        let featured = $(".chckFeatured");
        let visible = $(".chckVisible");
        let amazonAffiliate = $(".amazonAffiliate");


        $('.addProduct').submit(function(e){
                e.preventDefault();

                let translatedFields = getTranslatedFields(document.getElementById("addModal"));
                let tagsAttributedListbox = listboxTags.attributedListbox;
                let categoryAttributedListbox = listboxCategory.attributedListbox;

                if(tagsAttributedListbox.length > 0)
                {
                    if(categoryAttributedListbox.length > 0)
                    {
                        $(this).ajaxSubmit({
                           data: {
                                translatedFields: JSON.stringify(translatedFields),
                                attributedTags: tagsAttributedListbox,
                                costPrice: costPrice.val(),
                                retailPrice: retailPrice.val(),
                                quantity: quantity.val(),
                                weight: weight.val(),
                                category: categoryAttributedListbox,
                                featured: $(featured)[0].checked,
                                visible: $(visible)[0].checked,
                                amazonAffiliate: amazonAffiliate.val()
                           },
                           contentType: 'application/json',
                           success: function(response){
                            console.log(response);
                            successAddedProduct();
                             //$("#warning-success").html("Produit ajouté avec succès!");
                             //$('html, body').animate({ scrollTop: 0 }, 'fast');
                           }

                       });           
                    }
                    else{
                        console.log("Minimum une catégorie")
                    }
                    
                }
                else{
                    console.log("Minimum un tag");
                }
                


               
               

        });

        //This function shows a success message
        //and clears the form
        function successAddedProduct()
        {
            addProductSuccessAlert.classList.add("show");
            formProduct.reset();
            $('.modal').animate({ scrollTop: 0 }, 'slow');

            setTimeout(function(){
                addProductSuccessAlert.classList.remove("show");
            },5000);
        }

        //Gets the value of every field
        //that is needed for a precise language
        //and returns an object containing all the fields
        //for this precise languages
        //@modal is the modal in which to look for those different panes
        function getTranslatedFields(modal)
        {
            let allTabs = modal.getElementsByClassName("tab-pane");
            let allProductLangObject = [];

            //For each tabs, put the info in objects
            for(let i = 0;i < allTabs.length;i++)
            {
                let tab = allTabs[i];
                let langId = tab.getAttribute("data-langid");
                let productName = tab.getElementsByClassName("productName")[0];
                console.log(tab.getElementsByClassName("description"));
                let description = tab.getElementsByClassName("description")[0];
                let advice = tab.getElementsByClassName("advice")[0];

                let obj = {
                    langId: langId,
                    productName: productName.value,
                    description: description.value,
                    advice: advice.value
                }

                if(fieldsAreFilled(productName.value,description.value,advice.value))
                {
                   allProductLangObject.push(obj)  
                }
                               
            }

            return allProductLangObject;
        }

        //Checks if the fields are filled and returns 
        //false if not + displays an error message
        function fieldsAreFilled(name,description,advice){

            if(name == ""){
                return false;
            }

            if(description == ""){
                return false;
            }

            if(advice == ""){
                return false;
            }

            return true;
        }
	</script>
</body>
</html>