<!DOCTYPE html>
<html>
<head>
	<title>Quintessentiel | Connexion</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/style_manageProduct.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style_manageCategory.css"/>
	<script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
</head>
<body>
	<%include ./includes/appNavbar.ejs%>
		<div id="addModal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Ajout d'une catégorie</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Inscrivez le nom de la nouvelle catégorie</p>
	        <input type="text" class="form-control" placeholder="ex: Peau douce" />
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success">Ajouter</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
	      </div>
	    </div>
	  </div>
	</div>
	<section class="wrapper-content-manageProduct">
		<div class="wrapper-body-manage-category">
			<h2>Gestion des catégories</h2>

		<div class="table">
            <div class="border">
                <table class="table-product">
                    <thead class="table-product-header">
                        <tr>
                            <th>Catégorie</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ondblclick="openUpdateProduct(this)" data-product-id="1">
                            <th>Catégorie A</th>
                            <th><input type="checkbox" class="chckboxActive" disabled="" /></th>
                        </tr>
                        <tr>
                            <th>Catégorie B</th>
                            <th><input type="checkbox" class="chckboxActive" checked="" disabled="" /></th>
                        </tr>
                        <tr>
                            <th>Catégorie C</th>
                            <th><input type="checkbox" class="chckboxActive" disabled=""/></th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
			<div class="wrapper-btn-end">
				<a href="#" id="btnAdd" class="btnApp">+</a>
			</div>
		</div>
	</section>
	<script src="./javascript/renderer.js"></script>
	<script src="./javascript/tableProducts.js"></script>
	<script src="./javascript/resizeWindow.js"></script>
	<script>
		resizeWindow(600,400);
		let addBtn = $("#btnAdd")
		let tr = document.getElementsByTagName("tr");
		let addModal = $("#addModal");

		addBtn.on("click",function(e){
			$(addModal).modal();
		});

		$(tr).on("click",function(e){
			let element = e.target.parentNode;


			if(e.target.tagName == "INPUT"){
				element = e.target.parentNode.parentNode;
			}

			let categoryName = element.getElementsByTagName("th")[0].innerText;
			let chckbox = element.getElementsByClassName("chckboxActive")[0];

			if(chckbox != undefined){
				let isChecked = chckbox.checked;
				

				if(isChecked){ //if its checked, send a confirmation to hide it
					sendConfirmHideDialog(categoryName);
				}
				else{ //if its not checked, send a confirmation to show it
					sendConfirmUnHideDialog(categoryName);
				}				
			}
		});


		function sendConfirmUnHideDialog(categoryName){
			showDialog('warning',['Annuler',"Confirmer"],
				"Désarchivage de catégorie",
				"Souhaitez-vous montrer la catégorie '"+categoryName+"' ?",
				"Les produits appartenants à cette catégorie seront désormais visibles par les visiteurs du site web.",confirmShowCategory);
		}


		//Sends a confirm dialog box to the user
		function sendConfirmHideDialog(categoryName){
			showDialog('warning',['Annuler',"Confirmer"],
				"Archivage de catégorie",
				"Souhaitez-vous archiver la catégorie '"+categoryName+"' ?",
				"Les produits appartenants à cette catégorie ne seront plus visibles par les visiteurs du site web.",confirmArchiveCategory);
		}


		function confirmShowCategory(resp)
		{
			if(resp == 1) //Clicked on confirm 
			{
				alert("showing")

			}
		}

		//Callback from the dialog message
		function confirmArchiveCategory(resp){
			if(resp == 1) //Clicked on confirm 
			{
				alert("archiving")
			}
		}
	</script>
			<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>