<!DOCTYPE html>
<html>
<head>
    <title>Quintessentiel | Connexion</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style_application.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/style_manageProduct.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style_manageCategory.css"/>
</head>
<body>
    <div class="modal fade" tabindex="-1" role="dialog" id="addCategoryModal"> <!-- Add category modal -->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Ajout d'une catégorie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addModalForm">
                  <div class="modal-body">
                    <div id="addCategorySuccessAlert" class="alert alert-success fade" role="alert">
                        Catégorie ajoutée avec succès
                    </div>
                    <div class="addCategoryFields">
                        <%- modalAdd %>
                        <div class="wrapper-inputLabel-productModal visibleCheckbox">
                            <div class="wrapper-modal-input">
                               <label>Catégorie visible<input type="checkbox" class="chckVisible"/></label> 
                            </div>
                        </div>
                    </div>
              
                  <div class="modal-footer">
                    <input type="submit" class="btn btn-success" id="btnSend" value="Ajouter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  </div>
                </div>
            </form>
      </div>
    </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="updateCategoryModal">       <!-- Update modal category -->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modification d'une catégorie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="updateCategorySuccessAlert" class="alert alert-success fade" role="alert">
                    Catégorie modifiée avec succès!
                </div>
                <div class="addCategoryFields">
                   <%- modalUpdate %>
                    <div class="wrapper-inputLabel-productModal visibleCheckbox">
                         <div class="wrapper-modal-input">
                            <label>Catégorie visible<input type="checkbox" class="chckVisible"/></label> 
                         </div>
                     </div>
                </div>
          
              <div class="modal-footer">
                <input type="submit" class="btn btn-success" id="btnSend" value="Modifier">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              </div>
            </div>
      </div>
    </div>
    </div>
    <%include ./includes/appNavbar.ejs%>
    <section class="wrapper-content-manageProduct">
    <section class="wrapper-content-manageProduct">
        <div class="wrapper-body-mgProduct">
            <div class="wrapper-logo">
                <img src="./images/logo.png"/>
            </div>
            <p class="warning-error" id="warning-error"></p>
        </div>
        <div class="wrapper-manageProduct-section">
            <h2>Gestion des catégories</h2>
            <div class="wrapper-right-btn">
                <div class="wrapper-btn">
                    <a href="#" class="btnApp" id="btnAddCategory">+</a>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="border">
                <table class="table-product">
                    <thead class="table-product-header">
                        <tr>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody id="tableProducts">

                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script src="./javascript/jquery-3.4.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="./javascript/renderer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./javascript/listbox.js"></script>
    <script src="./javascript/tableProducts.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script>
        //Add category script
        let btnSend = document.getElementById("btnSend");

        $("#addModalForm").on("submit",function(e){
            e.preventDefault();

            let isVisible = document.getElementById("addCategoryModal").getElementsByClassName("chckVisible")[0];
            
            let allTranslatedNames = getAllTranslatedNames(document.getElementById("addCategoryModal"));

            if(allTranslatedNames.length > 0) //If theres at least one traduction
            {
                 console.log(allTranslatedNames)
                $.ajax({
                    url: "./addCategory",
                    type: "POST",
                    data: {
                        allTranslatedNames: allTranslatedNames,
                        isVisible: isVisible.checked
                    },
                    success: function(res){
                        if(res)
                        {
                           successAddedProduct();
                           loadCategoriesDisplayList(); //Reload the categories list 
                        }
                        
                    }
                })               
            }

        });

        //Returns an object containing all of the
        //names
        function getAllTranslatedNames(modal)
        {
            let arrayAllNames = [];
            let allTabs = modal.getElementsByClassName("tab-pane");


            for(let i = 0;i < allTabs.length;i++)
            {
                let langId = allTabs[i].getAttribute("data-langid");
                let name = allTabs[i].getElementsByClassName("addCategoryInputName")[0];

                let obj = {
                    langId: langId,
                    name: name.value
                };

                if(name.value != "")
                {
                   arrayAllNames.push(obj);
                }
                
            }

            return arrayAllNames;
        }


        //This function shows a success message
        //and clears the form
        function successAddedProduct()
        {
            addCategorySuccessAlert.classList.add("show");
            clearModalInfos(document.getElementById("addCategoryModal"));

            setTimeout(function(){
                addCategorySuccessAlert.classList.remove("show");
            },5000);
        }

        //Removes everything from the given modal
        function clearModalInfos(modal)
        {
            let allTabs = modal.getElementsByClassName("tab-pane");


            for(let i = 0;i < allTabs.length;i++)
            {
                console.log("clearing?")
                let name = allTabs[i].getElementsByClassName("addCategoryInputName")[0];
                name.value = "";
            }  
        }

        //Display categories script
        let categoriesList;
        let btnAddCategory = document.getElementById("btnAddCategory");

        loadCategoriesDisplayList();
        
        //Loads all the products that need to be displayed
        //in the list
        function loadCategoriesDisplayList()
        {
            return $.ajax({
                url: "./ajaxRequest/loadAllCategoriesAdmin",
                type: "POST",
                success: function(res){
                    categoryList = res;
                    displayCategoriesList(categoryList);
                }
            })
        }


        //Displays all the categories that have been loaded
        //from the server
        //@categoriesList is the list of categories loaded
        //from the server
        function displayCategoriesList(categoriesList)
        {
            
            let tableProducts = document.getElementById("tableProducts");
            tableProducts.innerHTML = "";

            categoriesList.forEach(function(category){
                tableProducts.innerHTML += `<tr data-product-id="`+category._id+`" ondblclick="openUpdateCategory(this)" class="rowTR">
                            <th>`+category._traductions[0]._name+`</th>
                        </tr>`;
            });
        }

        $("#btnAddCategory").on("click",function(e){
            e.preventDefault();
            $("#addCategoryModal").modal();
            console.log("adding a category!")
        });



        //Update product script

        //Opens the update category modal
        function openUpdateCategory(row)
        {
            let updateModal = document.getElementById("updateCategoryModal");

            $(updateModal).modal()
            console.log("sup")
            console.log(row)
        }


    </script>

</body>
</html>