<!DOCTYPE html>
<html>
<head>
	<title>Quintessentiel | Réinitialisation du mot de passe</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style_header.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style_chat.css" />
	<link rel="stylesheet" type="text/css" href="/css/style_body.css"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 	<%include ./includes/navbar.ejs%>
	<div class="connection-page">
		<div class="right-user-form">
			<form class="user-form" id="formConnection">
				<h2>Nouveau mot de passe</h2>
				<p>Entrez votre nouveau mot de passe</p>
				<p class="warning-error" id="warning-error-recover"></p>
				<p class="success-request" id="success-request-recover"></p>
				<div class="user-form-inner-wrapper">
					<div class="wrapper-label-input"> <!-- Une ligne -->
						<div class="wrapper-label"> <!-- wrapper du label -->
							<label>Mot de passe: </label>
						</div>
						<div class="wrapper-input"> <!-- wrapper du input -->
							<input type="password" name="password" id="password" class="form-control" required/>
						</div>
					</div>
					<div class="wrapper-label-input"> <!-- Une ligne -->
						<div class="wrapper-label"> <!-- wrapper du label -->
							<label>Confirmer le mot de passe: </label>
						</div>
						<div class="wrapper-input"> <!-- wrapper du input -->
							<input type="password" name="password" id="confirmPassword" class="form-control" required/>
						</div>
					</div>
					<div class="wrapper-submit-button"><input type="submit" class="btn btn-success" value="Changer le mot de passe"/></div>
				</div>
			</form>
			
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		let secretCode = location.search.split("secretId=")[1];
		let passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
		let password = $("#password");
		let confirmPassword = $("#confirmPassword");

		$("#formConnection").on("submit",recoverPassword)


		//Sends the infos the the server in order to reset the password
		function recoverPassword(e)
		{	
			e.preventDefault();

			if(validatePassword())
			{	
				$.ajax({
					url: "http://localhost:8000/ajaxRequest/userRecovering",
					method: "POST",
					data:{
						newPassword: password.val(),
						secretCode: secretCode
					},
					success: function(responseCode){	

						if(responseCode == 0) //Password changed
						{
							document.location.href = "./userConnection?changedPassword=true";
						}
						else if(responseCode == 1) { //Expired linksecretCode
							$("#warning-error-recover").html('Ce lien est expiré! Cliquez <a href="#" onclick=resendLink("'+secretCode+'")>ici</a> pour en crée un nouveau.');
						}
						else if(responseCode == 2){ //Invalid code
							$("#warning-error-recover").html("Lien inexistant!");
						}
					}
				});					
			}
		}

		//Validates the given password with a regex
		function validatePassword()
		{
			let isValid = true;

			if(password.val().match(passwordPattern) == null){
				$("#warning-error-recover").html("Mot de passe invalide. Le mot de pase doit contenir un minimum de 6 lettre, ainsi qu'une majuscule et un chiffre.");
				isValid = false;
			}
			else{
				if(password.val() != confirmPassword.val()){
					$("#warning-error-recover").html("Les mots de passes ne correspondent pas.");
					isValid = false;
				}
			}

			return isValid;
		}

		//Sends anther reset password link to the email
		//@code is the expired code
		function resendLink(code){
			$.ajax({
				url: "http://localhost:8000/ajaxRequest/resendRecover",
				method: "POST",
				data:{
					secretCode: secretCode
				},
				success: function(responseCode){	
					if(responseCode){ //Email sent
						$("#success-request-recover").html("Courriel envoyé, veuillez consulter votre courriel pour réinitialiser votre mot de passe.");
						$("#warning-error-recover").html("");
					}
					else if(!responseCode){ //Error with the code / email couldnt be sent
						$("#warning-error-recover").html("Code invalide.");
						$("#success-request-recover").html("");
					}
				}
			});
		}
	</script>
	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>