<!DOCTYPE html>
<html>
    <head>
        <title>Quintessentiel | serum</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/css/style_header.css" />
        <link rel="stylesheet" type="text/css" href="/css/style_chat.css" />
        <link rel="stylesheet" type="text/css" href="/css/style_body.css" />
        <link rel="stylesheet" type="text/css" href="/css/style_serum.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <script src="/javascript/serum.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <%include ./includes/navbar.ejs%>
        <div class="connection-page">
            <div class="left-menu-bar">
            </div>
            <div class="serum-page">

                <div class="serum-form-window">
                        <h3>Bienvenue dans ce formulaire pour la conception d'un serum personalisé à vos besoins.</h3>
                        <p>Veuillez répondre à chaque questions et cliquez ensuite sur le bouton d'envoi pour nous envoyer votre fiche personalisée.</p>
                        <br>
                        <p>Vous n'avez qu'à cliquer sur les pastilles pour naviguer.</p>
                        <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#start">Début</a></li>
                                <li><a data-toggle="pill" href="#trouble">Maux & troubles</a></li>
                                <li><a data-toggle="pill" href="#smellTexture">Fragrences & textures</a></li>
                                <li><a data-toggle="pill" href="#allergie">Allergies</a></li>
                                <script>
                                    $(".nav").on('click','li', function(){
                                        if($(this).hasClass('active')){}
                                        else{
                                            $(this).toggleClass('active').siblings().removeClass('active');
                                        }
                                    })
                                </script>
                        </ul>
                        <div class="tab-content" >
                            <form action="https://formspree.io/mdqjankx" method="POST">
                            <div id="start" class="tab-pane fade in active show" style="position: absolute; width:50%;">
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Prenom*</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="text" class="f-name" name="Prenom" placeholder="Prénom" required>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Nom</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="text" class="name" name="Nom" placeholder="Nom" required>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Age</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="number" class="age" name="Age" placeholder="Age" required>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Genre</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="text" class="gender" name="Genre" placeholder="Genre">
                                    </div>
                                </div>
                                <div class="serum-row">
                                        <div class="serum-col-50">
                                            <label>Numéro de téléphone</label> 
                                        </div>
                                        <div class="serum-col-50">
                                            <input type="text" class="phone-number" name="Numéro-de-téléphone" placeholder="819 111-1111" required>
                                        </div>
                                    </div> 
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Adresse courriel</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="email" class="email" name="_replyto" placeholder="Adresse courriel" required>
                                    </div>
                                </div> 
                            </div>
                            <div id="trouble" class="tab-pane fade" style="position: absolute; width:50%;">
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Que souhaitez-vous améliorer avec le serum?</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <textarea class="desc-trouble" name="Trouble-Description"cols="30" rows="10" placeholder="Décrivez-nous les maux que vous souhaitez rêgler." required></textarea>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Depuis combien de temps êtes-vous affecté par ce maux?</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="text" class="time-trouble" name="Trouble-Durée" placeholder="Combien de semaines?" required>
                                    </div>
                                </div>
                            </div>
                            <div id="smellTexture" class="tab-pane fade" style="position: absolute; width:50%;">
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Laissez-nous savoir vos fragrances préférés:</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <textarea class="desc-smell" name="Fragrence-Description"cols="30" rows="10" placeholder="Décrivez-nous les fragrences que vous préférez." required></textarea>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Si vous avez des fragrences que vous n'aimez pas, laissez-nous le savoir:</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <textarea class="bad-smell" name="Fragrence-Aversion"cols="30" rows="10" placeholder="Décrivez-nous les fragrences que vous n'aimez pas." required></textarea>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Veuillez choisir la texture de votre recette personalisée:</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <select class="texture" name="Texture-Désiré" required>
                                            <option value="Baume">Baume</option>
                                            <option value="Huile">Huile</option>
                                            <option value="Serum">Serum</option>
                                            <option value="Crême">Creme</option>
                                            <option value="Beurre">Beure Fouetté</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Veuillez choisir la quantité désirée. Si vous sélectionnez "autre", nous vous contacterons suite à l'envoi du formulaire:</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <select class="quantity" name="Serum-Quantity" required>
                                            <option value="5ml">5ml</option>
                                            <option value="10ml">10ml</option>
                                            <option value="15ml">15ml</option>
                                            <option value="50ml">50ml</option>
                                            <option value="100ml">100ml</option>
                                            <option value="autre">autre</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="allergie" class="tab-pane fade" style="position: absolute; width:50%;">
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Avez-vous des allergies?</label> 
                                    </div>
                                    <div class="serum-col-25">
                                            <input type="radio" name="Allergies" value="Aucune-Allergie" id="radio-one" class="form-radio" checked required>
                                            <label for="radio-one">Aucune allergies</label>
                                    </div>
                                    <div class="serum-col-25">
                                            <input type="radio" name="Allergies" value="Allergique" id="radio-one" class="form-radio" required>
                                            <label for="radio-one">Je suis allergique</label>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-50">
                                        <label>Si vous avez répondu "Je suis allergique", veuillez-nous indiquer vos allergies.</label> 
                                    </div>
                                    <div class="serum-col-50">
                                        <input type="text" class="allergy-desc" name="Allergies-présente" placeholder="Lavande, Karité" required>
                                    </div>
                                </div>
                                <div class="serum-row">
                                    <div class="serum-col-100">
                                        <button type="submit" class="btn btn-primary submit">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                </div>
                    
            </div>
    </body>
    
</html>