<!DOCTYPE html>
<html>
<head>
	<title>Quintessentiel | Nouveau compte</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/style_header.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style_body.css"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%include ./includes/navbar%>
	<div class="inscription-page">
		<div class="left-menu-bar">
			
		</div>
		<div class="right-user-form">
			<form class="inscription-form" id="formRegister">
				<h2>Inscription</h2>
				<p class="warning-error" id="warning-error"></p>
				<div class="user-form-inner-wrapper">
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-prenom"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="firstName">Prénom* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="text" placeholder="Prénom" name="firstName" id="firstName" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-nom"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="lastName">Nom* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="text" placeholder="Nom" name="lastName" id="lastName" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-email"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="email">Courriel* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="text" placeholder="Courriel" name="email" id="email" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-birth"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="birthDate">Date de naissance* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="date" name="birthDate" id="birthDate" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-civility"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="selectCivility">Civilité* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du select -->
								<select name="idCivility" id="selectCivility" class="form-control" required>

								</select>
							</div>
						</div>
					</div>
					<div class="wrapper-announce-address">
						<h4>Adresse</h4>	
					</div>
					<hr>
					<div class="wrapper-row wrapper-address">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-address"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-left-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="street">Rue* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="street" class="form-control" placeholder="Rue" required/>
								</div>
							</div>
							<div class="wrapper-right-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="noApp">No app.</label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="noApp" class="form-control" placeholder="No appartement" />
								</div>
							</div>
						</div>
						<div class="wrapper-label-input wrapper-under-address"> <!-- Une ligne -->
							<div class="wrapper-left-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="postalCode">Code postal* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="postalCode" class="form-control" required placeholder="Code postal" />
								</div>
							</div>
							<div id="wrapperCivic" class="wrapper-right-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="noCivic">No civique*</label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="noCivic" class="form-control" placeholder="No civique" required/>
								</div>
							</div>
						</div>
						<div id="wrapperLocation" class="wrapper-label-input wrapper-under-address"> <!-- Une ligne -->
							<div class="wrapper-left-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="idCountry">Pays* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<select name="idCountry" id="idCountry" class="form-control" required>
									</select>
								</div>
							</div>
							<div class="wrapper-right-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="idProvince">Province* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<select name="idProvince" id="idProvince" class="form-control" required>

									</select>
								</div>
							</div>
						</div>
					</div>
					<hr id="bottomHr">
					<div class="wrapper-label-input wrapper-trouble-total"> <!-- Une ligne -->
						<div class="wrapper-label"> <!-- wrapper du label -->
							<label>Troubles: </label>
						</div>
						<div class="wrapper-input"> <!-- wrapper du div select -->
							<div class="select-trouble">
								<div class="wrapper-check-label" id="wrapper-check-label">

								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-password"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="password">Mot de passe* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="password" name="password" id="password" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-confirmPassword"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="confirmPassword">Confirmer le mot de passe* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="password" name="confirmPassword" id="confirmPassword" class="form-control"  required/>
							</div>
						</div>
					</div>
					<div id="wrapper-infolettre" class="wrapper-label-input"> <!-- Une ligne -->
						<div class="wrapper-label"> <!-- wrapper du label -->
							<label for="newsletter">Abonnez-vous à l'infolettre: </label>
						</div>
						<div class="wrapper-input infolettre"> <!-- wrapper du input -->
							<div class="sub-wrapper-chck"> <!-- wrapper du input -->
								<input type="checkbox" name="newsletter" id="newsletter" checked="" />
							</div>
							<div class="sub-wrapper-lbl">
								<label for="newsletter">Je souhaite m'abonner</label>
							</div>		
						</div>
					</div>
					<div class="wrapper-submit"><input type="submit" class="btn btn-success" value="Compléter"></div>
			</div>
			</form>
			
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		let firstName = $("#firstName");
		let lastName = $("#lastName");
		let email = $("#email");
		let birthDate = $("#birthDate");
		let selectCivility = $("#selectCivility");
		let password = $("#password");
		let confirmPassword = $("#confirmPassword");
		let newsletter = $("#newsletter")[0];
		let street = $("#street");
		let noApp = $("#noApp");
		let postalCode = $("#postalCode");
		let noCivic = $("#noCivic");
		let idCountry = $("#idCountry");
		let idProvince = $("#idProvince");

		let allCountriesList;


		$("#formRegister").on("submit",registerUser);

		//Adds the user to the database
		function registerUser(e)
		{
			e.preventDefault();

			resetInputError();

			if(isFormValid())
			{
				$.ajax({
					url: "http://localhost:8000/ajaxRequest/userRegister",
					method: "POST",
					data:{
						firstName:firstName.val(),
						lastName:lastName.val(),
						email:email.val(),
						birthDate:birthDate.val(),
						idCivility:selectCivility.val(),
						password:password.val(),
						newsletter:newsletter.checked,
						conditionsCheckbox: getCheckedConditions(),
						street: street.val(),
						noApp: noApp.val(),
						postalCode: postalCode.val(),
						noCivic: noCivic.val(),
		 				idCountry: idCountry.val(),
		 				idProvince: idProvince.val()
					},
					success: function(responseCode){
						resetGeneralError();

						if(responseCode == 1){ //The user has been added
							document.location.href = "./userConnection?newAccount=true"
						}
						else if(responseCode == 2){ //An error occured while adding the user
							$("#warning-error").html("Erreur lors de l'ajout de l'utilisateur. Veuillez réessayer plus tard.");
						}
						else if(responseCode == 3){ //The email already exists in the db
							$("#error-email").html("L'addresse courriel entrée est déjà utilisée.");
						}

						
					}
				});		
			}


		}

		function resetGeneralError()
		{
			$("#warning-error").html("");
		}

		//Loads and displays the civilities
		function loadCivilities(_callback)
		{
			$.ajax({
				url: "http://localhost:8000/ajaxRequest/getCivilities",
				method: "POST",
				success: function(response){
					$("#selectCivility").html(response);
				}
			});		
		}


		let firstNamePattern = /^(?=.{1,50}$)[a-zÀ-ÿ]+(?:['_.\s][a-zÀ-ÿ]+)*$/i;
		let lastNamePattern = /^(?=.{1,50}$)[a-zÀ-ÿ]+(?:['_.\s][a-zÀ-ÿ]+)*$/i;
		let emailPattern =  /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
		let passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;

		function isFormValid()
		{
			let isValid = true;

			if(firstName.val().match(firstNamePattern) == null){
				$("#error-prenom").html('Veuillez entrer un prénom valide.');
				isValid = false;
			}

			if(lastName.val().match(lastNamePattern) == null){
				$("#error-nom").html('Veuillez entrer un nom valide.');
				isValid = false;
			}

			if(email.val().match(emailPattern) == null)
			{
				$("#error-email").html("L'adresse email entré est invalide.");
				isValid = false;
			}

			if(password.val().match(passwordPattern) == null){
				$("#error-password").html("Mot de passe invalide. Le mot de pase doit contenir un minimum de 6 lettre, ainsi qu'une majuscule et un chiffre.");
				isValid = false;
			}
			else{
				if(password.val() != confirmPassword.val()){
					$("#error-confirmPassword").html("Les mots de passes ne correspondent pas.");
					isValid = false;
				}
			}

			return isValid;
			
		}


		function resetInputError()
		{
			for(let i = 0;i < $(".error-input").length;i++)
			{
				$(".error-input").eq(i).html("");
			}
		}


		function loadConditions()
		{
			$.ajax({
				url: "http://localhost:8000/ajaxRequest/getConditions",
				method: "POST",
				data:{
					firstName:firstName.val(),
				},
				success: function(htmlConditions){
					resetGeneralError();
					$("#wrapper-check-label").html(htmlConditions)
				}
			});		
		}


		loadCivilities();
		loadConditions();
		loadAllCountries();
		//Gets the checked conditions and
		//puts them in an array for the backend
		function getCheckedConditions()
		{
			let troubleCheckbox = $(".trouble-checkbox");
			let checkedConditionsArray = [];

			for(let i = 0;i < troubleCheckbox.length;i++)
			{
				if(troubleCheckbox[i].checked){
					checkedConditionsArray.push(troubleCheckbox[i].getAttribute("data-id"));
				}
			}

			return checkedConditionsArray;
		}


		/*
			Displays all the countries
		*/
		function displayCountrySelect()
		{
			for(let i = 0;i < allCountriesList.length;i++)
			{
				$("#idCountry").html($("#idCountry").html() + "<option value='"+allCountriesList[i].countryId+"'>"+allCountriesList[i].countryName+"</option>");
			}
		}

		//Loads all the countries and provinces
		//for these countries
		function loadAllCountries()
		{
			$.ajax({
				url: "http://localhost:8000/ajaxRequest/getAllCountries",
				method: "POST",
				success: function(countryList){
					console.log(countryList)
					allCountriesList = countryList;
					displayCountrySelect();
					displayProvinces(JSON.parse(allCountriesList[0].provinces));
				}
			});		
		}

		//Displays the given list of 
		//provinces in the select
		//@provincesList is the list of provinces to display
		function displayProvinces(provincesList)
		{
			$("#idProvince").html("");

			for(let i = 0;i < provincesList.length;i++)
			{
				$("#idProvince").html($("#idProvince").html() + "<option value='"+provincesList[i].id+"'>"+provincesList[i].provinceName+"</option>");
			}	
		}

		//When the user changes the country
		$("#idCountry").on("change",(e) => {
			let indexInArray = findCountryIndexinArray(e.target.value);
			let provincesList = JSON.parse(allCountriesList[indexInArray].provinces);

			displayProvinces(provincesList);
		});


		//Finds the country index in the array
		//by searching for its id
		//@countryId is the countryId to find in the array
		//@Returns the index to which the country is
		function findCountryIndexinArray(countryId)
		{
			for(let i = 0;i < allCountriesList.length;i++) //For each countries in the list
			{
				if(allCountriesList[i].countryId == countryId) //If we found the match
				{
					return i;
				}
			}
		}

	</script>
		<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>