.slider-main {
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slick-dots {
    display: flex;
    align-self: center;
}

.slider-main-item {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.slider-main-item-a {
    display: flex;
    justify-content: center;
}

.center-aligned {
    display: inline-block;
    position: relative;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #bcd13f;
    padding: 4px;
    border: 1px solid black;
}

.slider-featured {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider-featured-image {
    max-width: 200px;
}

.index-title {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.background-image {
    max-width: 1000px;
}

.index-download {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.index-presentation {
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;
}

.slider-temoignages {}

.slider-temoignage-item {}

.temoignage-person {
    font-size: 20px;
    font-style: italic;
    justify-content: center;
    display: flex;
}

.temoignage-texte {
    font-size: 12px;
    word-wrap: break-word;
    justify-content: center;
    display: flex;
}