.wrapper-body-manage-category h2{
	width:100%;
}


.wrapper-body-manage-category{
	text-align: center;
}


.wrapper-section-category{
	width:60%;
	margin:auto;
	margin-top:50px;
}

#categoryList{
	max-height:75vh;
	overflow-y: scroll;
}

.wrapper-btn-end{
	margin:auto;
	text-align: right;
	margin-top:15px;
}


.wrapper-btn-end a:nth-child(1){
	margin-right:20px;
}


th:nth-child(2){
	width:100px;
	text-align: center;
}

th:nth-child(2) input[type=checkbox]{
	transform:scale(1.5);
	position: relative;
	background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius:20px 20px 20px 0;
}


.chckboxActive:disabled{
	opacity:1;
	background-color: white;
	color:white;
}