
.wrapper-content-manageChat{
	display: flex;
	flex-direction: row;
	width:100%;
}

.left-bar{
	max-width:300px;
	width:30vw;
	height:calc(100vh - 25px);
}

.left-bar-header{
	border:1px solid black;
	height:20vh;			/* Total height: 100vh - 20vh; */
	min-height:105px;
	display:flex;
	justify-content: center;
}

.left-bar-body{
	border:1px solid green;
	height:65vh;		/* Total height: 80vh - 65vh; */
	flex-grow:1;
}

.left-bar-footer{
	border:1px solid purple;
	height:15vh;
}

#wrapperLogo{
	align-self: center;
}

#logo{
	width:100%;
}

#contact-bar-wrapper{
	border:1px solid black;
	height:100%;
	display: flex;
	justify-content: center;
}

#contact-bar{
	border:1px solid black;
	min-height:200px;
	height:80%;
	display:flex;
	align-self:center;
	flex-direction: column;
	width:95%;
	overflow-y: scroll;
}

.right-bar{
	flex-grow:1;
}

.right-bar-header{
	border:1px solid black;
	height:75px;
	display: flex;
	justify-content: center;
}

.right-bar-header h2{
	display: flex;
	align-self:center;
}

.right-bar-body{
	border:1px solid black;
	height:calc(88vh - 100px);
}

.right-bar-footer{
	height:calc(12vh);
	display: flex;
}

.right-bar-footer-wrapper{
	border:1px solid yellow;
	width:100%;
	display: flex;
}

.left-inner-footer{
	width:80%;
	border:1px solid black;
}

.left-inner-footer textarea{
	width:100%;
	height:100%;
	font-size:21px;
}

.right-inner-footer{
	width:20%;
	border:1px solid green;
}

.right-inner-footer button{
	width:100%;
	height:100%;
	font-size:24px;
}

.wrapper-btn-send{
	height:100%;
	padding:20px;
}

.single-contact{
	border:1px solid black;
	margin:5px;
	color:black;
	display: block;
}

.single-contact:hover{
	text-decoration: none;
	color:black;
}

.contact-title-bar p{
	font-weight:bold;
	font-style: italic;
	margin:0;
	max-height:40px;
	overflow: hidden;
}

.contact-name-bar{
	margin:0;
}

.contact-activity p{
	margin:0;
}

.tab-pane{
	display:none;
}

.tab-pane.active{
	display:block;
}