.container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

#clientChat {
    width: 15vw;
    min-width: 300px;
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
    background-color: white!important;
}

#chatMessageBox {
    overflow-y: scroll;
}

#clientChat.opened #chatBody {
    max-height: 700px;
    border-left: 1px solid #453F3F;
    border-right: 1px solid #453F3F;
}

#chatBody {
    max-height: 0;
    transition-duration: 0.1s;
}

#chatTopbar {
    background-color: #453F3F;
    color: white;
    cursor: pointer;
}

#chatBodyStartDiscussion,
#chatBodyDiscussion {
    background-color: white;
    padding: 10px;
}

#chatBodyStartDiscussion .chat-labelInput-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

#chatBodyStartDiscussion button {
    color: #453f3f;
}

#chatBodyDiscussion {
    display: none;
}

#chatMessageBox {
    height: 350px;
    background-color: #ededed;
}

#btnChatSendMessage {
    margin-top: 15px;
}

.wrapperSingleMessage {
    display: flex;
    overflow-wrap: break-word;
    margin-top: 15px;
}

.wrapperMsgAdmin {
    justify-content: flex-start;
}

.wrapperMsgClient .msgUserText {
    background-color: lightgrey;
}

.wrapperMsgClient {
    justify-content: flex-end;
}

.messageWrapper {
    max-width: 70%;
}

.wrapperMsgAdmin {
    padding-left: 5%;
}

.wrapperMsgClient {
    padding-right: 5%;
}

.msgUserName {
    font-size: 13px;
    position: relative;
    text-align: end;
    color: gray;
    font-style: italic;
}

.msgUserText {
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
    background-color: #BBD23D;
}

.messageWrapper p {
    margin: 0;
}

.wrapperMsgClient,
.wrapperMsgAdmin {
    text-align: left;
}

.conversationEndedP {
    color: gray;
    font-weight: italic;
}

#btnSaveEmail {
    background-image: url(./images/icons/email.png);
    background-size: cover;
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#chatFooter {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.closeChat{
    display: none;
    float: right;
    padding-right:15px;
    text-decoration: none;
    color: ivory;
}

.confirmClose{
    margin-left: auto;
    margin-right: auto;
    width:85%;
    background: #BBD23D;
}

.msgUserName{
    text-align: left;
    position: relative;
    left:5px;
}