#navbarSupportedContent {
    align-self: flex-end;
    justify-content: space-between;
}

.navbar-serum {
    text-align: center;
    color: lightgray;
    background-color: lightslategray;
    line-height: 35px;
    width: 100%;
}

.navbar-serum p {
    margin: auto;
}

.navbar-serum a {
    color: #bcd13f;
}

.nav-item {
    font-size: 18px;
}

.wrapper-links-t {
    display: flex!important;
    flex-grow: 1!important;
    justify-content: center;
    align-self: flex-end;
}

.wrapper-links-t ul {
    padding: 0!important;
    margin: 0!important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-links-t li {
    justify-content: space-evenly;
    /*
    margin-right: 1.5%;
    margin-left: 1.5%;
    */
}

.header-right-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.header-middle-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header-middle-wrapper img {
    width: 40px;
}

.header-middle-wrapper img:nth-child(1) {
    margin-right: 20px;
}

.header-top-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header-top-wrapper ul {
    margin-right: 0!important;
}

.header-bottom-wrapper {
    margin-top: 10px;
}

.navbar-brand {
    display: flex;
    align-self: flex-end;
    margin-right: 0!important;
}

.navbar .form-inline {
    display: flex;
    justify-content: flex-end;
}

.navbar-brand,
.header-right-wrapper {
    width: 295px;
}

.header-bottom-wrapper input[type=search] {
    margin-right: 0!important;
    align-self: flex-end;
    border-radius: 5px 0 0 5px;
    border: 0;
}

.header-bottom-wrapper .form-inline {
    display: flex;
    flex-direction: row;
}

.navbar .btn-search {
    height: 38px;
    width: 38px;
    background-image: url(../images/icons/search.png);
    background-size: cover;
    border-radius: 0 5px 5px 0;
    background-color: white;
    border: 0;
    outline: 0;
}

.navbar .btn-search img {
    width: 100%;
}

.navbar {
    background-color: #453f3f!important;
    box-shadow: 0px 2px 4px black;
}

.nav-link {
    color: white!important;
    transition-duration: 1s;
}

.nav-link:hover {
    color: #bcd13f!important;
}

.dropdown-item:hover {
    color: white!important;
    background-color: #453f3f!important;
}

.navbar-brand img {
    width: 100%!important;
}

.navbar-toggler-icon {
    color: white!important;
}

@media screen and (max-width:1300px) {
    .wrapper-links-t li {
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media screen and (max-width:1250px) {
    .navbar-brand img,
    .navbar-brand,
    .header-right-wrapper {
        width: 220px;
    }
    .header-bottom-wrapper input[type=search] {
        width: 182px;
    }
    .wrapper-links-t li {
        margin-right: 5px;
        margin-left: 5px;
    }
    .navbar {
        padding: 8px 5px 8px 5px!important;
    }
}

@media screen and (max-width:1070px) {
    .navbar-brand img,
    .navbar-brand,
    .header-right-wrapper {
        width: 180px;
    }
    .header-bottom-wrapper input[type=search] {
        width: 142px;
    }
}

@media screen and (max-width:991px) {
    .wrapper-links-t {
        display: flex!important;
        flex-grow: 1!important;
        justify-content: flex-start;
    }
    .header-top-wrapper {
        justify-content: flex-start;
    }
    .header-middle-wrapper {
        justify-content: flex-start;
    }
    .header-bottom-wrapper input[type=search] {
        width: 50%;
        min-width: 160px;
        display: flex;
        align-self: auto;
    }
    .navbar .btn-search {
        display: flex;
    }
    .header-right-wrapper {
        width: 90%;
        justify-content: flex-start;
    }
    .navbar-brand {
        width: 50%;
        max-width: 300px;
    }
    .header-bottom-wrapper {
        align-self: flex-start;
    }
    .header-bottom-wrapper,
    .form-inline {
        width: 100%;
    }
    .navbar .form-inline {
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (max-width:468px) {
    .navbar .btn-search {
        display: flex;
        margin-left: 0px;
    }
    .navbar input[type=search] {
        display: flex;
        align-self: auto;
    }
}





/*

    Styling for the cart

*/ 

.fullPageOverlay{
    position: fixed;
    top:0;
    background-color:#453F3F;
    width:100%;
    height:100%;
    opacity:0;
    z-index:10;
    display:none;
    transition-duration:0.7s;
}

.fullPageOverlay.toggled{
    opacity: 0.6;
}

.cartWrapper{
    background-color:#f5f5f5;
    position: fixed;
    right:0;
    top:0;
    min-height:100vh;
    display: inline-block;
    min-width:35vh;
    max-width:100vh;
    color:white;
    z-index:11;
    display: none;
    transform: translate(100%);
    transition: transform 0.2s;
}

.cartWrapper.toggled{
    opacity:1;
    transform: translate(0);
    transition: transform 0.5s;
}

.cartInnerWrapper{
    height:100vh;
}

.cartTopWrapper{
    background-color:#292323;
    text-align: center;
    height:10vh;
}

.cartWrapperTopTitle{
    position: relative;
    height:100%;
}


.cartWrapperTopTitle h2{
    margin-bottom:0;
}

.closeCartIcon{
    width:50px;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
}

.cartUnderTopWrapper{
    height:75vh;
    overflow-y: scroll;
    color:#292323;
    text-align: center;
    font-size:25px;
}

.cartUnderTopWrapper{
    display:flex;
    flex-direction: column;
    transition-duration: 1s;
}

.cart-item{
    display:flex;
    flex-direction:column;
    margin:15px;
    background-color:#FFFFFF;
    border-radius:5px;
    cursor:pointer;
}

.cartBottomWrapper{
    height:15vh;
    color:#292323;
    font-size:22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px solid #292323;

}

.itemUpperInfos{
    display: flex;
    flex-direction: row;
}

.wrapperItemImage{
    width:35%;
}



.itemImage{
   
}

.itemImage img{
    width:100px;
    height:100px;
}

.itemTitle{
   display:flex;
   flex-grow:1;
   justify-content: flex-start;
   text-align: left;
}

.itemClose a{
    display:flex;
}

.itemClose img{
    width:30px;
}

.itemBottomInfos{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10px;
}

.cartItemQty{
    width:75px;
    height:30px;
    margin-left:;
}

.cart-item-inside{
    margin:5px;
}


.wrapper-cart-error{
    max-width:90%;
    margin:auto;
}

.wrapper-cart-error p{
    width:100%;
    margin:0;
    display: none;
    color:red;
}

.wrapper-cart-error p.toggled{
    display:block;
    width:25vh;
    margin:auto;
}

.cart-payButton{
    text-align: center;
}

.cart-subTotal{
    text-align: center;
}

#cartPayLink{
    color:#FFFFFF;
    background-color:#292323;
    text-decoration: none;
    border:1px solid black;
    padding:10px 15px 10px 15px;
}

.cart-payButton{
    margin-bottom:10px;
}

.disappear{
    transform: scale(0.5);
    animation: removeElement 1.5s;
}


@keyframes removeElement{

    0%{
        transform:scale(1) translate(0,0);
        opacity:1;
        max-height:1000px;
    }


    50%{
        transform:scale(0.5) translate(0,0);
        max-height:1000px;
    }

    90%{
        transform:scale(0.5) translate(0,-100px);
        opacity:0;
        max-height:1000px;
    }

    100%{
        opacity: 0;
        transform:scale(0.5) translate(0,-100px);
        max-height:0;
    }

}

@media screen and (max-width: 425px)
{
    .cartWrapper{
        width:100%;
    }
}