/* Variables css */
:root {
    --back1: white;
    --text1: black;
    --back2: #AAA;
    --text2: black;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: var(--back2);
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: var(--back1);
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: var(--back1);
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}