/* Variables css */
:root {
    --back1: white;
    --text1: black;
    
    --my_msg_bg: lavender;
    --other_msg_bg: pink;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

/* Alterne la couleur des message
#message-container div {
    background-color: var(--back2);
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: var(--back1);
}
*/

.my-msg{
    background-color: var(--my_msg_bg);
}

.other-msg{
    background-color: var(--other_msg_bg);
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: var(--back1);
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}