	<header id="test" class="application-header">
		<nav>
			<div class="wrapper-select">
				<select id="selectMenuPage">
					<option value="manageProduct">Gestion des produits</option>
					<option value="manageCategory">Gestion des catégories</option>
					<option value="managePromotion">Gestion des promotions</option>
				</select>
			</div>
			<div class="wrapper-title">
				<h2>Quintessentiel</h2>
			</div>
			<div class="wrapper-buttons">
				<img src="./images/icons/minimize.png" id="minimize"/>
				<img src="./images/icons/resize.png" id="maximize"/>
				<img src="./images/icons/close.png" id="close"/>
			</div>
		</nav>
	</header>
	<script src="./javascript/appNavbar.js"></script>