<div class="footer">
        <div class="list-footer">
            <ul>
                <li>242 Rue King Ouest, Sherbrooke</li>
                <li>(819)666-6666</li>
                <li>info@baguettemagique.ca</li>
                <li>Mis à jour le 22 octobre 2019</li>
            </ul>
        </div>
    </div>