<div class="footer">
        <div class="list-footer">
            <ul>
                <li>Termes et conditions</li>
                <li>Distribuer nos produits</li>
                <li>Points de ventes</li>
                <li>Contactez-nous</li>
                <li>FAQ</li>
                <li>Suivez-nous!</li>
            </ul>
        </div>
    </div>