			<div class="wrapper-form-add-product">
				<form class="addProduct" enctype="multipart/form-data" action="/addProduct" method="POST">
				<div class="wrapper-input-label">
					<div class="wrapper-label">
						<label for="inputName">Nom</label>
					</div>
					<div class="wrapper-input">
						<input type="text" id="inputName" class="form-control" required/>
					</div>
				</div>
				<div class="wrapper-input-label">
					<div class="wrapper-label">
						<label for="inputCostPrice">Prix coûtant</label>
					</div>
					<div class="wrapper-input">
						<input type="number" id="inputCostPrice" class="form-control" min="0.00" step="0.01" value="0.00"/>
					</div>
				</div>
				<div class="wrapper-input-label">
					<div class="wrapper-label">
						<label for="inputRetailPrice">Prix au détail</label>
					</div>
					<div class="wrapper-input">
						<input type="number" id="inputRetailPrice" class="form-control" min="0.00" step="0.01" value="0.00"/>
					</div>
				</div>
				<div class="wrapper-input-label">
					<div class="wrapper-label">
						<label for="inputQty">Quantité</label>
					</div>
					<div class="wrapper-input">
						<input type="number" id="inputQty" class="form-control" min="0" required/>
					</div>
				</div>
				<div class="wrapper-input-label">
					<div class="wrapper-label">
						<label for="inputFile">Image</label>
					</div>
					<div class="wrapper-input">
						<input type="file" id="inputFile" name="imgProduct" required/>
					</div>
				</div>
				<div class="wrapper-input-label" id="wrapperCategory">
					<div class="wrapper-label">
						<label for="selectCategory">Catégorie</label>
					</div>
					<div class="wrapper-input">
						<select class="form-control" id="selectCategory" required>
							<option disabled selected>Veuillez sélectionner une catégorie</option>
							<option value="1">Peau mature</option>
						</select>
					</div>
				</div>
				<div class="wrapper-input-label" id="wrapperWeight">
					<div class="wrapper-label">
						<label for="inputWeight">Poid (gr)</label>
					</div>
					<div class="wrapper-input">
						<input type="number" id="inputWeight" class="form-control" min="0.00" step="0.01" value="0.00"/>
					</div>
				</div>
				<div class="wrapper-input-label" id="wrapperInputLabelTags">
					<div class="wrapper-label">
						<label>Étiquettes</label>
					</div>
					<div class="wrapper-input">
						<div class="availableTags">
							<div class="left-available-wrapper">
								<p>Étiquettes disponibles</p>		
								<div class="list-group" id="available-listbox">
								  <a href="#" class="list-group-item list-group-item-action" data-id="0">
								    Cras justo odio
								  </a>
								  <a href="#" class="list-group-item list-group-item-action" data-id="1">Dapibus ac facilisis in</a>
								  <a href="#" class="list-group-item list-group-item-action" data-id="2">Morbi leo risus</a>
								  <a href="#" class="list-group-item list-group-item-action" data-id="3">Porta ac consectetur ac</a>
								</div>
							</div>
							</div>

						<div class="wrapper-btnChange">
							<button id="btnRight">></button>
							<button id="btnLeft"><</button>
						</div>
						<div class="choosenTags">
							<div class="right-choosen-wrapper">
								<p>Étiquettes attribuées</p>		
								<div class="list-group" id="attributed-listbox">
			  						<a href="#" class="list-group-item list-group-item-action" data-id="4">Porta ac consectetur ac</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper-input-label" id="wrapperDescription">
					<div class="wrapper-label">
						<label for="txtAreaDescription">Description</label>
					</div>
					<div class="wrapper-input">
						<textarea id="txtAreaDescription" class="form-control" required></textarea>
					</div>
				</div>
				<div class="wrapper-input-label" id="wrapperDescription">
					<div class="wrapper-label">
						<label for="txtAreaAdvice">Conseils d'utilisation</label>
					</div>
					<div class="wrapper-input">
						<textarea class="form-control" id="txtAreaAdvice" required></textarea>
					</div>
				</div>
				<div class="wrapper-input-label" id="wrapperVedette">
						
						<label><input type="checkbox" id="inputVedette"/><span>Item vedette</span></label>
						<label><input type="checkbox" id="inputVisible"/><span>Item visible</span></label>
				</div>
				<div class="wrapperBtnEnd">
					<div class="wrapper-cancel"><input type="submit" class="btn btn-success" value="Annuler" onclick="self.close()"></div>
					<div class="wrapper-submit"><input type="submit" class="btn btn-success" id="btnSend" value="Compléter"></div>
				</div>
			</form>
			</div>
			<script src="./javascript/listbox.js"></script>