                   <div class="modal-product-double-wrapper">
                        <div class="wrapper-inputLabel-productModal">
                            <div class="wrapper-modal-label">
                                <label>Prix coûtant</label>
                            </div>
                            <div class="wrapper-modal-input">
                                <input type="number" step="0.01" name="" class="costPrice form-control"/>
                            </div>
                        </div>
                        <div class="wrapper-inputLabel-productModal">
                            <div class="wrapper-modal-label">
                                <label>Prix au détail</label>
                            </div>
                            <div class="wrapper-modal-input">
                                <input type="number" step="0.01" class="retailPrice form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-product-double-wrapper">
                        <div class="wrapper-inputLabel-productModal">
                            <div class="wrapper-modal-label">
                                <label>Quantité</label>
                            </div>
                            <div class="wrapper-modal-input">
                                <input type="number" class="quantity form-control"/>
                            </div>
                        </div>
                        <div class="wrapper-inputLabel-productModal">
                            <div class="wrapper-modal-label">
                                <label>Poid</label>
                            </div>
                            <div class="wrapper-modal-input">
                                <input type="number" step="0.01" class="weight form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-inputLabel-productModal modal-single-wrapper">
                        <div class="wrapper-modal-label">
                            <label>Image</label>
                        </div>
                        <div class="wrapper-modal-input">
                            <input type="file" name="image" class="image"/>
                        </div>
                    </div>
                    <div class="wrapper-inputLabel-productModal modal-single-wrapper">
                        <div class="wrapper-modal-label">
                            <label>Lien amazon affiliate</label>
                        </div>
                        <div class="wrapper-modal-input">
                            <input type="text" class="amazonAffiliate form-control"/>
                        </div>
                    </div>
                    <p class="errorMsgForm" id="errorMsgAddCategory"></p>
                    <div id="categoryWrapper" class="wrapper-inputLabel-productModal categoryList modal-single-wrapper">
                        <div class="availableTags">
                            <div class="left-available-wrapper" id="">
                                <p>Catégories non-attribuées</p>       
                                <div class="list-group" id="categoryAvailableList">
                                   <%- availableCategories %>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper-btnChange">
                            <button id="categoryRightBtn">></button>
                            <button id="categoryLeftBtn"><</button>
                        </div>
                        <div class="choosenTags">
                            <div class="right-choosen-wrapper">
                                <p>Catégories attribuées</p>        
                                <div class="list-group" id="categoryAttributedList">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="errorMsgForm" id="errorMsgAddTag"></p>
                    <div id="tagsWrapper" class="wrapper-inputLabel-productModal tagsList modal-single-wrapper">
                        <div class="availableTags">
                            <div class="left-available-wrapper">
                                <p>Étiquettes disponibles</p>       
                                <div class="list-group" id="tagsAvailableList">
                                   <%- availableTags %>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper-btnChange">
                            <button id="tagsRightBtn">></button>
                            <button id="tagsLeftBtn"><</button>
                        </div>
                        <div class="choosenTags">
                            <div class="right-choosen-wrapper">
                                <p>Étiquettes attribuées</p>        
                                <div class="list-group" id="tagsAttributedList">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-product-double-wrapper wrapper-checkbox">
                        <div class="wrapper-inputLabel-productModal">
                            <div class="wrapper-modal-label">
                                <label>Produit vedette</label>
                            </div>
                            <div class="wrapper-modal-input">
                                <input type="checkbox" class="chckFeatured"/>
                            </div>
                        </div>
                        <div class="wrapper-inputLabel-productModal visibleCheckbox">
                            <div class="wrapper-modal-label">
                                <label>Produit visible</label>
                            </div>
                            <div class="wrapper-modal-input">
                                <input type="checkbox" class="chckVisible"/>
                            </div>
                        </div>
                      </div>
                 </div>